{% extends 'layout.twig' %}

{% block body %}

  <main class="container mt-5">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <h3 class="text-primary font-montserrat text-uppercase">Set Password  </h3>
        <form method="post" action="/setpassword"> 
 {{ session1 }}
          <div class="form-group">
            <label for="sign_in_username">Verification  Code:</label>
            <input type="text" class="form-control" id="sign_in_username" placeholder="Enter Verification Code" name="code" value="{% if code %}{{code}}{% endif %}" autofocus required>
          </div>
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email" name="email"  value="{% if email %}{{email}}{% endif %}"  required>
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" placeholder="Enter Password" name="password" required>
          </div>
          <div class="form-group">
            <label for="Cpassword">Password:</label>
            <input type="password" class="form-control" id="Cpassword" placeholder="Confirm password" name="Cpassword" required>
          </div>
		
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </main>

{% endblock %}
